
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
    font-family: "Poppins", sans-serif;
}
#mainSection{
    width: 480px;
    /* height: 500px; */
    border: 1px solid gray;
    margin: 30px auto;
    border-radius:8px ;
    padding: 10px;
}

#storyInfo{
    display: flex;
    align-items: center;
    gap: 10px;

}
#storyInfo img {
    width: 70px;
    height: 70px;
    border: 1px solid cadetblue;
    border-radius: 50%;
}
 #storyInfo h3{
    font-size: 14px;
 }
#storyInfo p {
    font-size: 9px;
}
#mainSection #post{
    width: 100%;
   margin-top: 10px;
    border-radius: 10px;
}  
#postContent{
    font-size: 10px;
}  
#postAction{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: teal;
}